@model IEnumerable<UserTier.Models.ProductModel>

@{
    ViewBag.Title = "LowStock";
}

<h2>Low Stock Warnings</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Offer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery)
        </td>
		<td>
			@Html.ActionLink("Order More", "Index", "Home", new { id = item.ProductId }, new { onclick = "return confirm('Are you sure you want to order more stock?');" })
		</td>
    </tr>
}

</table>

<div>@Html.ActionLink("Back To menu", "Index", "Home", null, new { @class = "btn btn-primary btn-large" })</div>
